  .user-model {
    position: relative;
  }
  mat-form-field {
    width: 100%;
  }
  button.mat-focus-indicator.close-icon.mat-button.mat-button-base {
    position: absolute;
    right: 0;
    top: 0;
}
