<div class="user-model">
    <button mat-button class="close-icon" [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>
    <h1 mat-dialog-title>Create User</h1>
    <form [formGroup]="users"  (ngSubmit)="onUserSubmit()">
        <mat-form-field appearance="outline">
        <mat-label>Enter your Name</mat-label>
        <input matInput placeholder="Enter Your Name..." formControlName="szUserName" required>
        <mat-error *ngIf=" f?.invalid && (f?.touched || f?.dirty)">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit"  >Add</button>
    </form>     
  </div>